# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# platform.io
code/robot/.vscode.pio
code/robot/.vscode/.browse.c_cpp.db*
code/robot/.vscode/c_cpp_properties.json
code/robot/.vscode/launch.json
code/robot/.vscode/ipch

# build directories
code/book/build/*
code/robot/build/*
code/desktop/build/*
